.sign-in {
    width: 380px;
    display: flex;
    flex-direction: column;

    @media(max-width: 600px) {
        width: 280px;
        border: 1px solid black;
        padding: .5rem 1rem;
    }

    .title {
        margin: 10px 0;

        @media(max-width: 600px) {
            font-size: 1.4rem;
        }
    }

    .buttons {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        @media(max-width: 600px) {
            width: 100%;
            flex-direction: column;
        }

        #signIn {

            @media(max-width: 600px) {
                width: 100%;
                height: 50px;
            }
        }

        #signInWithGoogle {
            @media(max-width: 600px) {
                width: 100%;
                height: 50px;
            }
        }
    }

    @media(max-width: 600px) {
        margin-bottom: .5rem;
    }
}