.sign-up {
    display: flex;
    flex-direction: column;
    width: 380px;

    @media(max-width: 800px) {
        width: 280px;
    }

    @media(max-width: 600px) {
        margin-top: 2.5rem;
        border-top: 1px solid black;
    }
}

.title {
    margin: 10px 0;
}